# Dependencies
node_modules/

# SAM build artifacts
.aws-sam/
backend/test-env-vars.json

# Floci persistent data
local/data/

# Frontend build output
frontend/static/app.bundle.js
frontend/dist/
frontend/frontend.zip

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp

# Environment
.env
.env.local


cdk.out/